body {
  margin: 0.5em 0.5em 4em 0.5em;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #212916;
}

p {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.account-management-list--compact span {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 0.5em;
}
.account-management-list--compact {
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
}
.account-management-list {
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
}

.account-management-list li {
  margin-bottom: 2em;
}

.alert {
  color: red;
  display: block;
  margin: 2em auto 2em auto;
}

.topo_map__link--image {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.map-image__wrapper {
  text-align: left;
}
.map__wrapper a {
  display: block;
}
.map__wrapper {
  grid-area: map;
}

.header__wrapper {
  grid-area: header;
}

.nav__wrapper {
  grid-area: nav;
}

.main__wrapper {
  color: #f2f3f4;
  margin: 0 auto 0 auto;
  min-width: 320px;
  max-width: 600px;
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "map";
}

.single__wrapper {
  margin: 0 auto 0 auto;
  min-width: 320px;
  max-width: 600px;
}
