.k2d-thin {
  font-family: "K2D", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.k2d-regular {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --text: #050709;
  --text-light: #696969;
  --light-background: #f2f3f4;
  --dark-background: #3d1410;
  --darker-background: #002627;
  --highlight: #d91e18;
  --accent: #57a773;
  --links: #00008b;
}

a:hover {
  color: var(--accent);
}

.page-link.active {
  color: var(--highlight);
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  border-radius: 0 0.25rem 0 0.25rem;
  background-color: var(--darker-background);
  color: var(--light-background);
  transition: background-color 0.5s ease-in-out;
}

.page-link:hover {
  border-radius: 0 0.25rem 0 0.25rem;
  color: var(--light-background);
  background-color: var(--text-light);
}

table {
  border-collapse: collapse;
}

table td,
table th {
  padding: 2rem;
}

body {
  margin: 0px;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--dark-background);
  color: var(--text);
}

.center {
  text-align: center;
}

.em {
  font-weight: 500;
}

hr {
  color: var(--accent);
  border: 0;
  border-top: 1px dashed var(--accent);
  margin: 15px 0;
  padding: 0 10px;
}

p {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
}

form {
  padding: 0;
}

button {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.overlay div {
  width: 80%;
}


.whitespace-container {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 200px;
  /* Adjust height as needed */
  margin-top: 6rem;
  margin-bottom: 6rem;

}

.vertical-divider {
  width: 2px;
  height: 100%;
  background-color: #ccc;
  margin: 0 10px;
}

.scroll-text {
  display: flex;
  align-items: center;
  height: 100%;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(246,
      246,
      246,
      0.7);
  /* Semi-transparent black background */
  padding: 2rem;
  display: none;
  /* Initially hidden */
  text-align: center;
  /* Center content horizontally */
  z-index: 999;
  /* Overlay sits above the map */
}

.fade-out-paragraph {
  position: relative;
  z-index: 5;
  user-select: none;
}

.guidance-list span {
  color: var(--text-light);
}

.guidance-list {
  font-family: "K2D";
  line-height: 1.7;
}

.guidance-list li {
  padding: 0.5rem 0 0.5rem 0;
}

.account-management-list--compact button {
  margin-top: 0.5rem;
}

.account-management-list--compact span {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 0.5rem;
}

.account-management-list--compact {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
}

.account-management-list {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
}

.alert {
  color: var(--highlight);
  display: block;
  margin: 1rem auto 1rem auto;
}

.topo_map__link--image {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.map-image__wrapper {
  text-align: left;
}

.map__wrapper a {
  display: block;
}

.map__wrapper {
  grid-area: map;
}

.regular-padding {
  padding: 0.5rem;
}

.main {
  background-color: var(--light-background);
  border-radius: 0rem;
  margin: 0 auto 0 auto;
  min-width: 320px;
  max-width: 900px;
}

.wide__wrapper {
  font-weight: 300;
  font-style: normal;
  background-color: var(--light-background);
  padding: 1rem;
  border-radius: 2rem;
  margin: 0 auto 0 auto;
}

.recent-report {
  margin: 1rem;
  line-height: 1.5;
}

.recent-reports span {
  font-family: "K2D";
}

.recent-reports h3 {
  border-bottom: 1px solid var(--accent);
}

.recent-reports {
  background-color: var(--light-background);
  margin: 0;
  min-width: 320px;
  max-width: 900x;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

.indented-top {
  padding-top: 2rem;
}

.indented {
  padding-left: 2rem;
  overflow: hidden;
}

.single-report strong {
  color: var(--text-light);
}

.single-report h3 {
  border-bottom: 1px solid var(--accent);
}

.single-report {
  background-color: var(--light-background);
  margin: 0;
  min-width: 320px;
  max-width: 900px;
  box-sizing: border-box;
  padding: 1rem;
}

.toggle-guidance {
  text-decoration: none;
  color: blue;
}

.summary-input {
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  height: 35vh;
  resize: vertical;
}

.small-button {
  font-family: "K2D";
  font-weight: 300;
  display: inline-block;
  font-size: smaller;
  margin: 0.5rem;
  color: var(--text-light);
  border: 1px solid var(--darker-background);
  padding: 0.25rem;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--light-background);

}

.map-icon {
  position: absolute;
  right: 0;
  width: 48px;
  margin: 1rem 0.25rem 0 0;
}

.map-icon__wrapper {
  margin: .5rem;
  position: relative;
}

.delete {
  font-family: "K2D";
  font-weight: 300;
  display: inline-block;
  font-size: smaller;
  margin: 0.5rem;
  color: var(--highlight);
}

.header {
  background-color: var(--light-background);
  display: flex;
  align-items: baseline;
  padding: 0.75rem;
  gap: 1rem;
}

.light-text {
  color: var(--text-light);
}

.enter:hover {
  color: var(--dark-background);
  transition: color 150ms ease-in-out;
}

.enter {
  font-family: "K2D";
  font-weight: 600;
  max-width: 200px;
  padding: 1rem;
  margin: 1rem auto 1rem auto;
  background-color: var(--accent);
  color: var(--light-background);
  display: block;
  text-align: center;
  font-size: larger;
  text-decoration: none;
}

.dropdown__link {
  background: none;
  border: none;
  text-decoration: none;
  color: var(--links);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown.active>.dropdown__link,
.dropdown__link:hover {
  color: black;
}

.dropdown__link:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: var(--light-background);
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
  z-index: 10;
}

.dropdown.active>.dropdown__link+.dropdown__menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.dropdown__link-grid {
  display: grid;
  grid-template-columns: 1, max-content;
  gap: 2rem;
  white-space: nowrap;
}

.dropdown__menu--sign-in {
  white-space: wrap;
  min-width: 260px;
}

.notice a {
  flex-wrap: nowrap;
  font-weight: 400;
}

.notice {
  border: 1px dashed var(--accent);
  padding: 0.5rem;
  margin: 0;
  font-family: "K2D", sans-serif;
}

.trail-select__form {
  margin: 0.37rem;
}

.slider__header-container {
  position: relative;
  overflow: hidden;
}

.slider__header {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  transition: left 0.5s ease-in-out;
}


.advanced__form-wrapper {
  margin-top: 0.37rem;
  color: var(--light-background);
  background-color: var(--darker-background);
  max-height: 0px;
  overflow: hidden;
  transform: translateY(-10px);
  pointer-events: none;
  text-align: left;
  transition: max-height 0.2s ease-out, transform 0.2s ease-out;
}

.advanced__form-wrapper.expanded {
  max-height: none;
  transform: translateY(0);
  pointer-events: all;
  padding: 1rem;
}
.advanced__button--toggle.active {
  border:  3px solid var(--accent);
  font-weight: 600;
}
.advanced__button--toggle {
  text-decoration: none;

}

.my-div-icon {
  background-color: #d91e18;
  width: 10px;
  height: 10px;
}

.no-wrap {
  flex-wrap: nowrap;
  display: inline-flex;
  border-bottom: 1px dashed var(--accent);
  border-radius: 3px;
  margin: .5rem .5rem 0 .5rem;
}

.advanced button {
  text-decoration: none;
  color: var(--light-background);
  background-color: var(--darker-background);
  border: 1px solid var(--light-background);
  padding: 0.5rem;
  font-size: smaller;
  margin: 0 0.37rem 0 0.37rem;
}

.no-select {
  user-select: none;
  cursor: default;
}

.clear-button {
  text-decoration: none;

}

.advanced {
  margin: 0.37rem 0 0 0;
}

.dropdown__menu--sign-in a {
  font-weight: 500;
}

.introduction h1 {
  margin: 0.5rem;
  border: none;
  user-select: none;
}

.introduction h2 {
  margin: 0.5rem;
  border: none;
  user-select: none;

}

h2 {
  border-bottom: 1px solid var(--accent);
}

.larger {
  font-size: larger;
  line-height: 2;
}

.introduction a {
  text-decoration: none;
  color: var(--light-background);
}

.introduction p {
  background-color: var(--darker-background);
  border-radius: 2rem;
  text-align: justify;
  text-indent: 2rem;
  padding: 1rem 6rem 2rem 2rem;
  font-weight: 400;
  line-height: 2;
}

.introduction {
  background-color: var(--darker-background);
  border-radius: 0rem;
  border: var(--darker-background);
  color: var(--light-background);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 900px;
  box-sizing: border-box;
  background-image: url("../images/photo-header.webp");
}
#map-inset {
  width: 100%;
  height: 200px;
}
.index__image img {
  width: 60px;
}

.index__image {
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.index__header {
  box-sizing: border-box;
  max-width: max-content;
}

.index__header-wrapper {
  display: flex;
  flex-direction: row;
}

.report-list {
  margin: 0 auto;
  /* Center the list horizontally */
  padding: 1rem;
  /* Add some padding */
}

.report-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.report-item span {
  color: var(--text-light);
}

.report-item {
  padding: 0.5rem;
}

.report-item p {
  margin-top: 0.5rem;
  /* Space between elements */
}

.trail-reports {
  padding: 0.25rem;
  max-width: 900px;
}

.trail-report__form {
  max-width: 900px;
  padding-bottom: 2rem;
}

.feature-list {
  margin: 0 auto;
  padding: 1rem;
}

.feature-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  display: flex;
  /* Arrange elements horizontally */
  flex-wrap: wrap;
  /* Allow items to wrap if exceeding container width */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.feature-item p {
  flex: 1 1 auto;
  /* Make paragraphs flexible but maintain some minimum width */
  margin-top: 0.5rem;
}

.feature-item p:nth-child(1) {
  font-weight: 500;
}

.feature-item span {
  color: var(--text-light);
}

.features {
  padding: 0.25rem;
}

.trail-reports form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.trail-reports form label {
  display: inline-block;
  margin-right: 10px;
  width: 120px;
}

.user-btn {
  color: var(--text-light);
}

.section img {
  width: 128px;
  margin-left: 2rem;
}

.section {
  display: flex;
  align-items: center;
}

.nav a {
  font-family: "K2D";
  display: inline-block;
}

option {
  overflow-wrap: break-word;
}

.radio {
  cursor: pointer;
}


.user-list {
  display: flex;
  flex-direction: column;
}


.user-list-body {
  display: flex;
  flex-direction: column;
}

.user-item {
  display: flex;
}

.user-item span {
  font-weight: 400;
  font-family: "K2D";
}

.user-item div {
  flex: 1;
  padding: 1rem;
}

.pagination a {
  padding: 0.25rem;
}

.pagination {
  font-family: "K2D";
  margin-bottom: 2rem;
}

label,
button {
  cursor: pointer;
}

select,
input {
  padding: 0.2rem 0.7rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  max-width: 450px;
  margin: 0.5rem;
}

.success {
  font-size: large;
  font-weight: 400;
}

.trail-select label {
  margin: 0.5em;
}

.trail-select select#trail-select {
  margin: 0.5rem;
}

.trail-select {
  text-align: center;
  color: var(--light-background);
  background-color: var(--darker-background);
  padding-bottom: 0.25rem;
}

.confirm-delete button {
  margin-right: 1rem;
  border: 1px solid var(--highlight);
}

.confirm-delete a {
  display: inline-block;
  border: 1px solid var(--darker-background);
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: "K2D";
  font-size: small;
}

.source {
  font-family: "K2D";
  font-weight: 200;
  color: var(--darker-background);
}

.profile img {
  width: 200px;
}

.footer a {
  color: var(--light-background);
}

.footer a:hover {
  color: var(--highlight);
}

.footer {
  margin: 2rem 0 0 0;
  background-color: var(--darker-background);
  padding: 1rem;
  color: var(--accent);
}

.feature-item div,
p {
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .pagination a {
    font-size: large;
    display: inline-block;
    padding: 0.25em;
  }
}

@media (min-width: 768px) {
  .whitespace-container {
    display: none;
  }

  .wide__wrapper {
    font-weight: 300;
    font-style: normal;
    background-color: var(--light-background);
    padding: 1rem;
    border-radius: 2rem;
    margin: 0 auto 0 auto;
    max-width: 900px;
  }

  .report-list {
    width: 70%;
  }

  .report-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;
    max-width: 900px;
    margin-bottom: 1rem;
  }

  .report-item p:first-child {
    font-weight: 500;
  }

  .report-item p:nth-child(even) {
    grid-column: 2;
  }

  .report-item p:last-child {
    grid-column: 1 / span 2;
    font-style: italic;
    padding: 0.25rem 1rem 0.25rem 0;
  }

  .feature-list {
    width: 70%;
    /* Limit list width for cleaner layout on large screens */
  }

  .feature-item {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(300px, 1fr));
    /* Responsive grid columns */
    grid-gap: 1rem;
    /* Space between grid items */
  }

  .feature-item h4,
  .feature-item p {
    margin: 0.5rem;
    /* Consistent margin for all content within the grid cell */
  }
}