:root {
  --text: #000080ff;
  --light-background: #f2f3f4ff;
  --dark-background: #5a2328;
  --darker-background: #2a3439;
  --highlight: #fb4d3d;
  --accent: #57a773;
}
a:hover {
  color: var(--accent);
}
body {
  margin: 0px;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--dark-background);
  color: var(--text);
}
hr {
  color: var(--accent);
}
p {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
}
form {
  padding: 0;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
.guidance-list li {
  padding: 0.5rem 0 0.5rem 0;
}
.account-management-list--compact button {
  margin-top: 0.5rem;
}
.account-management-list--compact span {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 0.5rem;
}
.account-management-list--compact {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid var(--accent);
}
.account-management-list {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
}

.account-management-list li {
  margin-bottom: 2rem;
}

.alert {
  color: var(--highlight);
  display: block;
  margin: 1rem auto 0rem auto;
}

.topo_map__link--image {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.map-image__wrapper {
  text-align: left;
}
.map__wrapper a {
  display: block;
}
.map__wrapper {
  grid-area: map;
}

.regular-padding {
  padding: 0.5rem;
}

.main__wrapper {
  background-color: var(--light-background);
  border-radius: 0rem;
  margin: 0 auto 0 auto;
  min-width: 360px;
  max-width: 900px;
}
.wide__wrapper {
  font-family: "K2D", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: var(--light-background);
  padding: 1rem;
  border-radius: 2rem;
  margin: 0 auto 0 auto;
}
.recent-report {
  margin: 1rem;
  line-height: 1.5;
}
.recent-reports h3 {
  border-bottom: 1px solid var(--accent);
}
.recent-reports {
  background-color: var(--light-background);
  margin: 0;
  min-width: 320px;
  max-width: 900x;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}
.indented-top {
  padding-top: 2rem;
}
.indented {
  padding-left: 2rem;
}

.single-report h3 {
  border-bottom: 1px solid var(--accent);
}
.single-report {
  background-color: var(--light-background);
  margin: 0;
  min-width: 320px;
  max-width: 450px;
  width: 50%;
  box-sizing: border-box;
  padding: 2rem;
}
.single__wrapper {
  background-color: var(--light-background);
  margin: 0 auto 0 auto;
  min-width: 320px;
  max-width: 640px;
  box-sizing: border-box;
  padding: 0.25rem;
}
.view-details__wrapper {
  background-color: var(--light-background);
  border-radius: 0;
  margin: 0 auto 0 auto;
  min-width: 320px;
  max-width: 640px;
  display: grid;
  grid-template-areas:
    "-"
    "-"
    "-";
}
.toggle-guidance {
  text-decoration: none;
  color: blue;
}
.summary-input {
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  height: 35vh;
  resize: vertical;
}
.header {
  background-color: #f3f3f3;
  display: flex;
  align-items: baseline;
  padding: 0.75rem;
  gap: 1rem;
}
header::after {
  clear: both;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}
.dropdown.active > .link,
.link:hover {
  color: black;
}
.link:hover {
  color: black;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: var(--light-background);
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
}
.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.link-grid {
  display: grid;
  grid-template-columns: 1, max-content;
  gap: 2rem;
  white-space: nowrap;
}
.sign-in {
  white-space: wrap;
  min-width: 200px;
}
.notice {
  border: 1px dashed var(--accent);
  padding: 0.5rem;
}
.sign-in a {
  font-weight: 500;
}

.main__intro h1,
h2 {
  margin: 0.5rem;
}
.main__intro a {
  text-decoration: none;
  color: var(--light-background);
}
.main__intro p {
  background-color: var(--darker-background);
  text-align: justify;
  text-indent: 2rem;
  padding: 1rem 6rem 2rem 2rem;
  font-weight: 400;
  line-height: 2;
}
.main__intro {
  background-color: var(--darker-background);
  border-radius: 0rem;
  border: var(--darker-background);
  color: var(--light-background);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 900px;
  box-sizing: border-box;
  background-image: url("../images/photo-header.png");
}
