body {
  margin: 0.5em 0.5em 4em 0.5em;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.alert {
  color: red;
  display: block;
  margin: 2em auto 2em auto;
}

.topo_map__link--image {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.map-image__wrapper {
  text-align: left;
}
.map__wrapper a {
  display: block;
}
.map__wrapper {
  grid-area: map;
}

.header__wrapper {
  grid-area: header;
}

.nav__wrapper {
  grid-area: nav;
}


.main__wrapper {
  margin: 0 auto 0 auto;
  min-width: 320px;
  max-width: 960px;
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "map";
}

.k2d-thin {
  font-family: "K2D", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.k2d-extralight {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.k2d-light {
  font-family: "K2D", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.k2d-regular {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.k2d-medium {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.k2d-semibold {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.k2d-bold {
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.k2d-extrabold {
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.k2d-thin-italic {
  font-family: "K2D", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.k2d-extralight-italic {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.k2d-light-italic {
  font-family: "K2D", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.k2d-regular-italic {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.k2d-medium-italic {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.k2d-semibold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.k2d-bold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.k2d-extrabold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}